.hoverContainer {
  position: absolute;
  left: 65%;
  margin-top: 70px;
  width: 20%;
  z-index: 3;
  background-color: white;
  padding: 1%;
}

.imageContainer {
  display: flex;
  width: 15%;
}

.innerContainer {
  display: flex;
  justify-content: space-around;
}

.image {
  width: 100%;
}

.subtotal {
  font-weight: bold;
}

.buttonsContainer {
  flex-direction: column;
  background-color: #E62B56;
  color: white!important;
  padding: 2% 5%;
  cursor: pointer;
}

.linkPopper {
  background-color: #E72C59;
  font-family: "Roboto", sans-serif;
  color: white!important;
  text-align: center;
  font-size: 20px;
}

#linkCart {
  color: white!important;
}
.inputCardContainer {
  display: flex;
}

.CardInputHover {
  width: 15%;
  height: 10%;
  margin-left: 5%;
}
