.hoverContainer {
  position: absolute;
  left: 65%;
  margin-top: 70px;
  z-index: 3;
  background-color: white;
  padding: 1%;
}

.imageContainer {
  display: flex;
}

.subtotal {
  font-weight: bold;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
}

.linkPopper {
  background-color: #E72C59;
  font-family: "Roboto", sans-serif;
  color: white;
  text-align: center;
}

.inputCardContainer {
  display: flex;
}

.CardInputHover {
  width: 15%;
  height: 10%;
  margin-left: 5%;
}
