.CardElementContainer {
  height: 40px;
  display: flex;
  width: 70%;
  align-items: center;
  margin-top: 5%;
}

.securePayment{
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f8f8f8;
  margin-top: 20px;
}

.securePayment p{
  color: #737373;
  margin-bottom: 0px;
}

.stripeInner {
  width: 100%;
  height: 100%;
}

.inputName {
  border-bottom: 1px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
}

.payButton {
  font-size: 50px;
  letter-spacing: -1px;
  line-height: 39px;
  color: #ffffff;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  background-color: #E62B56;
  border: none;
  border-radius: 5px;
  width: 90%;
  padding: 1.5% 5%;
  text-align: center;
  margin: 4% auto;
}

.paymentMethods {
  display: flex;
  margin-bottom: 15px;
  margin-top: 15px;
  justify-content: space-around;
}

.paymentMethodsSuperContainer {
  display: flex;
  flex-direction: column;
}

.visaContainer {
  border-radius: 20px;
  width: 40%;
  border: 1px solid grey;
  overflow: hidden;
}

.visaContainerClicked {
  border-radius: 20px;
  width: 40%;
  background-color: lightblue;
  border: 2px solid #e72c59;
  overflow: hidden;
}

.paypalContainer {
  border-radius: 20px;
  width: 40%;
  border: 1px solid grey;
  overflow: hidden;
}

.paypalContainerClicked {
  border-radius: 20px;
  width: 40%;
  background-color: lightblue;
  border: 2px solid #e72c59;
  overflow: hidden;
}

.banContactContainer {
  border-radius: 20px;
  width: 40%;
  border: 1px solid grey;
  overflow: hidden;
  margin: 0 auto;
}

.banContactContainerClicked {
  border-radius: 20px;
  width: 40%;
  background-color: lightblue;
  border: 1px solid #e72c59;
  overflow: hidden;
}

.visaImg {
  width: 100%;
}

.paypalImg {
  width: 100%;
}

.visaImgClicked {
  width: 100%;
  opacity: 0.6;
}

.paypalImgClicked {
  width: 100%;
  opacity: 0.6;
}

@media screen and (max-width: 1100px){
  .payButton {
    font-size: 40px;
  }
}

@media screen and (max-width: 1000px){
  .payButton {
    width: 90% !important;
  }
  .rowCheckout {
    width: 100% !important;
  }
}
