.CardElementContainer {
  height: 40px;
  display: flex;
  width: 70%;
  align-items: center;
  margin-top: 5%;
}

.stripeInner {
  width: 100%;
  height: 100%;
}

.inputName {
  border-bottom: 1px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
}

.payButton {
  font-size: 50px;
  letter-spacing: -1px;
  line-height: 39px;
  color: #ffffff;
  font-weight: bold;
  font-family: "Calibri";
  background-color: #E62B56;
  border: none;
  border-radius: 30px;
  width: 75%;
  padding: 1.5% 5%;
  text-align: center;
  margin: 4% auto;
}
