.navBar {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15%;
  padding-right: 15%;
}


.imgContainer {
  width: 20%;
  position: relative;
  bottom: 10%;
}
.imgNavbar  {
  max-width: 100%;
}

.home {
  margin-top: 40px;
  cursor: pointer;
}

.fa-shopping-basket{
  color: black!important;
  font-size: 20px!important;
  margin-top: 2%;
}

.fa-id-card {
  font-size: 20px!important;
  color: #54595F!important;
  margin-right: 3%;
  margin-top: 10%;
}

.accountShopping {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-top: 20px;
}

.accountIcon {
  display: flex;
}

.imgPays {
  height: 10%;
  margin-top: 6.1%;
}

.buttonPays {
  background-color: white;
  border: none;
  height: 30px;
  margin-top: 4.7%;
}

.fa-sort-down {
  color: lightgray!important;
  font-size: 30px!important;
}

.drapeauAllemand {
  width: 19px;
}

.freeLivraison {
  font-size: 19px;
  letter-spacing: 0px;
  line-height: 66px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Roboto";
  text-align: center;
}

.drapeauContainer {
  width: 121px;
  height: 40px;
  border-bottom-left-radius: 21px;
  border-bottom-right-radius: 21px;
  background-color: #dadada;
  display: flex;
  justify-content: space-around;
  position: absolute;
  left: 48%;
  padding-top: 10px;
  padding-left: 5px;
  align-items: center;
}

.langue {
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 44px;
  color: #fefefe;
  font-weight: 500;
  font-family: "Roboto";
  text-align: center;
}

.drapeauImg {
  width: 20%;
  height: 50%;
  margin-bottom: 15px;
  margin-right: 15px;
}

.myAccount {
  width: 121px;
  height: 40px;
  border-bottom-left-radius: 21px;
  border-bottom-right-radius: 21px;
  background-color: #e72c59;
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 78%;
  left: 70%;
  padding-top: 10px;
  padding-left: 5px;
  align-items: center;
}

.myAccountText {
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 44px;
  color: #fefefe;
  font-weight: 500;
  font-family: "Roboto", serif;
  text-align: center;
}

.productsCountContainer {
  width: 28px;
  height: 28px;
  border-radius: 14px;
  background-color: #00b2cc;
  align-items: center;
  position: absolute;
  padding-left: 15px;
}

.productCountText {
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 44px;
  color: #fefefe;
  font-weight: 500;
  font-family: "Roboto";
  text-align: center;
}


.productCountInnerContainer {
  width: 50px;
  height: 28px;
  border-radius: 14px;
  align-items: center;
  position: absolute;
  left: 38%;
  bottom: 25%;
}

.totalPriceSpan {
  top: 3%;
  margin-left: 2%;
  font-size: 21px;
  letter-spacing: -1px;
  line-height: 53px;
  color: #00b2cc;
  font-weight: 700;
  font-family: "Roboto";
  text-align: center;
}

.prixJouet {
  display: flex;
  justify-content: space-around;
  height: 50px;
  margin-top: 25px;
}

.jouet {
  display: flex;
  flex-direction: column;
}

.jouetName {
  font-size: 32px;
  letter-spacing: 1px;
  color: #e72c59;
  margin-right: 5%;

  font-family: "D KButterfly Ball", sans-serif;
  text-align: center;
  margin-bottom: 5px!important;
}

.jouetPrix {
  font-size: 28px;
  letter-spacing: -1px;
  color: #0b4b61;
  margin-top: 2%;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.economie {
  font-size: 13px;
  line-height: 1;
  color: #adadad;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.prixBarre {
  font-size: 13px;
  line-height: 1;
  color: #adadad;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  text-align: center;
  text-decoration: line-through;
}

.prixReduc {
  display: flex;
}

.ajouterPanier {
  border-radius: 14px;
  background-color: #e72c59;
  height: 30%;
  padding-right: 2%;
  padding-left: 2%;
  text-align: center;
  margin-top: 30px;
  cursor: pointer;
}

.ajouterPanierText {
  font-size: 19px;
  letter-spacing: -1px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Roboto";
  text-align: center;
  margin-top: 1rem!important;
}

.stickyHeader{
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: white;
  box-shadow: 0px 10px 25px 10px rgb(0 0 0 / 10%);
}