.avisContainer {
  margin: 0 auto;
  width: 40%;
}

.avisImg {
  width: 100%;
}

.title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: 1.5px;
  color: #767676;
  margin-bottom: 10px;
  text-align: center;
}

.subtitle {
  font-size: 15px;
    line-height: 1.2em;
    color: #767676;
    margin-bottom: 10px;
  text-align: center;
}

.imgAvatarContainer {
  margin: 20px auto;
}

.avatarImg {
  height: 100%;
  width: 100%;
  max-width: 100px;
  margin: auto;
  border-radius: 60% 60% 60% 60%;
}

.description {
  font-size: 14px;
  font-style: italic;
  line-height: 1.2em;
  color: #767676;
  margin-bottom: 10px;
  text-align: center;
  margin-top: 2%;
}

.recommandeContainer{
  margin-bottom: 30px;
}

.avisInnerContainer{
  padding-right: 10px;
  padding-left: 10px;
}