.principal-blog-container {
  display: flex;
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 30%) !important;
  background-color:#f6f6f6;
}

.blogs-container {
  font-family: "Roboto", sans-serif;
}

.blogs-container p{
 color: #333333;
}

.math-image {
  max-height: 100% !important;
  width: 100%;
  cursor: pointer;
}

.blog-big-image {
  width: 100%;
  height: 100%;
}

.big-container {
  margin-bottom: 5%;
}
.math-image-container {
  width: 60%
}

.row-card {
  margin-bottom: 5%;
}

.blogs-container {
  padding-top: 35px;
  align-items: center;
}

.blogs-supercontainer{
  background-image: url(/background.webp);
  background-repeat: repeat;
  background-position: center center;
  box-shadow: inset 5000px 0 0 0 rgb(255 255 255 / 85%);
}


.read-more-button {
  color: #ffffff!important;
  padding: 5px 10px 5px 10px!important;
  background-color: #E72C59!important;
  border-radius:  5px 5px 5px 5px!important;
  border-width: 0px!important;
  width: fit-content;
  cursor: pointer;
  font-size: 15px;
  margin-top: 35px;
  font-weight: 400;
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%)
 }

.math-description {
  display: flex;
  flex-direction: column;
  padding: 2% 2%;
  width: 40%;
}

.titre-math {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 40px;
  margin-top: 40px;
}

.paragraph-math {
  font-size: 100%;
}

.card-list-container {
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 30%) !important;
  height: 100%;
  width: 100%;
}

.card-title {
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: bold!important;
  margin-bottom: 20px !important;
  height: 50px;
}

.card-line {
  display: flex;
  max-width: 80%;
  margin: 5% auto;
  justify-content: space-between;
}

.card-body {
  padding: 7% 7%;
  background-color:#f6f6f6;
}

.card-text {
  margin-bottom: 25px;
  height: 150px;
}

.card-blog-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.col-card {
  margin-top: 5%;
  height: 70%!important;
}

.petitContainer {
  display: none;
}

@media screen and (max-width: 1400px){
  .read-more-button {
    width: 45% !important;
  }
}

@media screen and (max-width: 1000px){
  .grandContainer {
    display: none;
  }
  .math-image {
    height: unset;
  }
  .big-container {
    display: none;
  }
  .petitContainer {
    display: block;
  }
  .read-more-button {
    width: 35% !important;
  }
  .blogs-container {
    padding: 5% 2%;
  }
  .card-list-container {
    margin-top: 5%;
  }
  .container {
    max-width: 1000px!important;
  }
  .rowBlog > * {
    width: 50% !important;
  }
}

@media screen and (max-width: 600px){
  .rowBlog > * {
    width: 100% !important;
  }
}


