.contact {
  background-color: #f8f6f3;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 080px 0px 0110px 0px;
  text-align: center;
}

.contact-us {
  font-size: 3.25rem;
  color: #333333;
}

.contact-form {
  padding: 5%;
  border-radius: 3%;
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 20%);
  width: 50%;
  margin: 0 auto;
}

.contact-form-container{
  max-width: 950px;
  background-color: white;
  box-shadow: 0px 0px 50px -10px rgb(0 0 0 / 13%);
  margin: -50px auto 0px auto;
  border-radius: 5px 5px 5px 5px;
}

.nomprenom {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.nom {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 30px;
}
.prenom {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 30px;
}

input {
  width: 100% ;
  height: 50px;
  margin-top: 10px;
}

.star {
  color: #ff0000
}

label {
  font-weight: bold;
}

.input-container {
  margin-top: 5%;
}

.message input{
  height: 150px;
}

.send {
  color: #FFFFFF;
  background-color: #e72c59;
  border-radius: 5px 5px 5px 5px;
  font-size: 0.9375rem;
  font-weight: 400;
  font-family: 'Open Sans',sans-serif;
  padding-top: 15px;
  padding-right: 35px;
  padding-bottom: 15px;
  padding-left: 35px;
  border-color: #e72c59;
  margin-top: 40%;
}

.contact-wrapper {
  margin-bottom: 5%;
}

.big-image {
  height: 100%;
}

.container-send {
  margin: 0 auto;
  width: 20%;
}

