.footer-container {
  display: flex;
  padding-top: 2%;
  padding-left: 6%;
  padding-bottom: 2%;
  padding-right: 5%;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 20%);
}

.footer-subcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 1000px;
  margin: auto;
}

.footer-container a{
  color : #020101 !important;
  font-weight: 400;
  font-size: 15px;
}

.footer-container a:hover{
  color : #6EC1E4 !important;
}

.arbresDialogContainer h5{
  color: #91BB1F;
  font-size: 35px;
}
.copyright {
  color: #6EC1E4;
  font-size: 12px;
}

.arbresRow h5 {
  font-size: 25px;
}

.arbresButtonClose {
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  position: absolute;
  font-size: 20px;
  top: 2%;
  right: 2%
}
.arbresRow {
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
}
.seePage {
  color: #91BB1F !important;
  text-align: center;
  font-size: 12px;
}
.element:nth-child(1)
{
  flex: 2;
}

.arbresDialogContainer {
  font-family: "Roboto", sans-serif;
  align-items: center;
}
.footer-column {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-top: 3%;
  justify-content: space-around;
}

.arbresRow{
  display: flex;
}
.footer-column2 {
  display: flex;
  margin-top: 3%;
  flex-direction: column;
  width: 40%;
}

.footer-column3 {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.photo-arbre {
  height: 100%;
  cursor: pointer;
  max-width: 160px;
  margin: 0px auto;
}
.icons-social {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: 7% auto;
}

.img-container-arbre {
  height: 100px;
}

.arbre-replantes {
  width: 30%;
  height: 100%;
}

.photo-container {
  display: flex;
  margin-left: 30%;
  margin-top: 5%;
}

.img-footer {
  margin-top: 10px;
  max-width: 200px;
  cursor: pointer;
  margin: 0px auto;
  max-height: 140px;
  width: 100%;
  height: fit-content;
}

.footer-img {
  width: 20%;
  display: flex;
  flex-direction: column;
}

.img-footer-arbre {
  max-width: 50%;
}

.fa-user-circle {
  font-size: 15px!important;
  color: #54595F!important;
  margin-top: 6%;
  margin-right: 5px;
}

.fa-user-plus {
  font-size: 15px!important;
  color: #54595F!important;
  margin-top: 6%;
  margin-right: 5px;
}

.iconFacebook {
  color: #3b5998;
  width: 30px;
}

.iconInstagram {
  color: white;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%); 
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);    
  width: 30px;
  height: 31px;
  border-radius: 3px;
}

.iconYoutube {
  color: #cd201f;
  width: 30px;
}

.flex-footer {
  display: flex;
  flex-direction: row;
  width: 70%;
}

.footer-subcontainer .phone-none{
  display: flex !important;
}
.footer-subcontainer .phone-only{
  display: none !important;
}

@media screen and (max-width: 1050px){
  .footer-container  {
    padding: 2% 5%;
  }
}

@media screen and (max-width: 770px){
  .phone-50{
    width: 50% !important;
  }
  .footer-subcontainer .phone-none{
    display: none !important;
  }
  .footer-subcontainer .phone-only{
    display: flex !important;
  }
  .footer-container {
    flex-direction: column;
    align-items: center;
  }
  .footer-column{
    width: 100%;
  }
  .footer-subcontainer {
    flex-direction: column-reverse;
  }
  .footer-img {
    margin: 0 auto;
  }
  .photo-container {
    width: 100%;
    margin-left: 0;
  }
  .footer-container .d-flex {
    width: 100%;
  }
}

@media screen and (max-width: 425px){
  .footer-img {
    width: 50%
  }
}

