.navBar {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-direction: row;
  padding-top: 2%;
  padding-bottom: 1%;
  align-items: center;
}

.containerHeader{
  max-width: 1000px;
  margin: auto;
}

.drapeauImg {
  width: 20px!important;
}

.imgContainer {
  width: 20%;
  min-width: 200px;
  position: relative;
  bottom: 10%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.imgNavbar  {
  max-width: 100%;
  cursor: pointer;
}

.home {
  margin-top: 40px;
  cursor: pointer;
}


.fa-id-card {
  font-size: 20px!important;
  color: #54595F!important;
  margin-right: 3%;
  margin-top: 10%;
}

.accountShopping {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.accountIcon {
  display: flex;
}

.imgPays {
  height: 10%;
  margin-top: 6.1%;
}

.buttonPays {
  background-color: white;
  border: none;
  height: 30px;
  margin-top: 4.7%;
}

.fa-sort-down {
  color: lightgray!important;
  font-size: 30px!important;
}

.drapeauAllemand {
  width: 19px;
}

.freeLivraison {
  font-size: 19px;
  letter-spacing: 0px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-top: 5px;
}

.cartWrap {
  position: relative;
}

.drapeauContainer {
  width: 121px;
  height: 25px;
  border-bottom-left-radius: 21px;
  border-bottom-right-radius: 21px;
  background-color: #dadada;
  display: flex;
  justify-content: space-around;
  position: absolute;
  left: 48%;
  padding-left: 5px;
  align-items: center;
}

.langue {
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 1;
  color: #fefefe;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-bottom: 5px;
}

.drapeauImg {
  margin-bottom: 5px;
  margin-right: 15px;
}

.myAccount {
  width: 121px;
  height: 40px;
  border-bottom-left-radius: 21px;
  border-bottom-right-radius: 21px;
  background-color: #e72c59;
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 78%;
  left: 70%;
  padding-top: 10px;
  padding-left: 5px;
  align-items: center;
}

.myAccountText {
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 44px;
  color: #fefefe;
  font-weight: 500;
  font-family: "Roboto", serif;
  text-align: center;
}

.productsCountContainer {
  width: 20px;
  height: 20px;
  border-radius: 14px;
  background-color: #00b2cc;
  align-items: center;
  position: absolute;
  padding-left: 15px;
  left: 50%;
  bottom: 60%;
}

.productCountText {
  font-size: 11px;
  letter-spacing: 0px;
  line-height: 44px;
  color: #fefefe;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  text-align: center;
}


.productCountInnerContainer {
  width: 50px;
  height: 28px;
  border-radius: 14px;
  align-items: center;
  position: absolute;
  left: 35%;
  bottom: 20%;
}

.totalPriceSpan {
  font-size: 18px;
  margin-top: 13%;
  letter-spacing: -1px;
  line-height: 53px;
  color: black;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.quantityContainer {
  color: #d4d4d4;
  font-weight: bold;
  font-size: 14px;
}
.quantityContainer p{
  margin-bottom: 0px;
}

.prixJouet {
  display: flex;
  justify-content: space-around;
}

.jouet {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.jouetName {
  font-size: 25px;
  letter-spacing: 1px;
  color: #e72c59;
  margin-right: 10px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-bottom: 5px!important;
}

.jouetPrix {
  font-size: 25px;
  letter-spacing: -1px;
  color: #0b4b61;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-bottom: 5px!important;
}

.economie {
  font-size: 13px;
  margin-right: 10px;
  line-height: 1;
  color: #adadad;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.prixBarre {
  font-size: 13px;
  line-height: 1;
  color: #adadad;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  text-align: center;
  text-decoration: line-through;
}

.prixReduc {
  display: flex;
}

.ajouterPanier {
  max-width: 200px;
  border-radius: 7px;
  background-color: #e72c59;
  padding: 5px 25px 5px 25px;
  box-shadow:  rgba(0, 0, 0, 0.3) 0px 0px 10px 0px;
  text-align: center;
  margin: 10px auto 0px auto;
  cursor: pointer;
  animation: shake 5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  1%, 9% {
    transform: translate3d(-1px, 0, 0);
  }

  2%, 8% {
    transform: translate3d(2px, 0, 0);
  }
  3%, 5%, 7% {
    transform: translate3d(-4px, 0, 0);
  }
  4%, 6% {
    transform: translate3d(4px, 0, 0);
  }
}

.ajouterPanierText {
  font-size: 16px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-top: 5px!important;
  margin-bottom: 5px!important;
}

.stickyHeader{
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: white;
  box-shadow: 0px 0px 24px 0px rgb(0 0 0 / 15%);
}


.freeContainer{
  background-color: rgb(231, 44, 89);
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.innerBtnCart{
  background: transparent;
  border: none;
}

.shoppingCart {
  font-size: 17px;
  width: 20px;
  color: black;
}

.paragraphEbook {
  margin-bottom: 0!important;
  margin-top: 2%
}
.ebookPopupPhoto {
  max-width: 100px;
}
.productPrice {
  width: 40%;
  margin-top: 3.5%;
}

.linksContainer{
  padding-top: 5px;
}

.linksContainer a{
  color:  #54595f !important;
  font-size: 14px;
  font-weight: 400;
  padding: 10px 20px;
  text-transform: uppercase;
}

.linksContainer a:hover{
  color:  #08a7e0 !important;
}

@media screen and (max-width: 900px){
  .linksContainer{
    display:none;
  }
  .prixReduc{
    height: 15px;
  }
  .home, .productsCountContainer, .jouetName, .economie, .langue{
    display: none;
  }
  .navBar{
    padding: 0px;
  }
  .imgContainer{
    width: 33%;
    min-width: 60px;
  }
  .cartWrap img{
    width: 20px;
  }
  .totalPriceSpan{
    font-size: 15px;
  }
  .accountShopping {
    text-align: right;
    width: 30px;
    margin-top: 0px;
  }
  .freeLivraison{
    font-size: 12px;
    margin-top: 5px;
  }
  .freeContainer{
    height: 20px;
  }
  .imgContainerjouet{
    min-width: 110px;
    max-width: 110px;
    height: 50px;
  }
  .jouetPrix{
    font-size: 18px;
    margin-bottom: 0px;
    margin-top: 22px;
    line-height: 1;
  }
  .prixJouet{
    margin-top: 0px;;
  }
  .ajouterPanier{
    padding: 5px;
  }
  .ajouterPanierText{
    font-size: 12px;
    margin: 0px !important;
  }
  .drapeauContainer{
    height: 25px;
    width: 40px;
    padding: 0px;
  }
  .drapeauImg{
    width: auto;
    height: auto;
    margin: -6px auto 0px auto;
  }
  .productPrice{
    display: none;
  }
  .nav-link{
    padding: 0px !important;
  }
}
