body {
  font-family: "Roboto", sans-serif;
}

.baby-container  {
  width: 100%;
  padding-top: 25px;
  position: relative;
  align-items: center;
}

.container1000{
  max-width: 1000px;
  margin: auto;
}

.container1200{
  max-width: 1200px;
  margin: auto;
}

.mainContainer{
  width: 100%;
}

.row-card-home {
  display: flex;
  justify-content: space-between;
  width: 95%;
}

.row-card-home-special {
  display: flex;
  justify-content: space-between;
  max-width: 90%;
  width: 65%;
}

.img-card {
  position: relative;
  display: block;
  transition: transform .7s;
}

.card-playboard .img-card{
  margin: 20px auto 0px auto;
  max-width: 370px;
  width:85%;
}

.card-tour .img-card{
  margin: 10px 5px 0px auto;
  max-width: 420px;
  width:92%;
}

.card-xylo .img-card{
  margin: 10px 5px 0px auto;
  max-width: 390px;
  width:90%;
}

.card-kako .img-card{
  margin: 0px auto 0px auto;
  max-width: 390px;
  width:90%;
}

.card-jouet {
  width: 45%;
  max-height: 210px;
  margin-bottom: 50px;
  border-radius: 2px;
  border:none !important;
}

.card-playboard{
  background: url(/SITE-Icone-PLAYBOARD.jpg) no-repeat center top;
  background-size: contain;
}

.card-tour{
  background: url(/SITE-Icone-TOWER.jpg) no-repeat center top;
  background-size: contain;
}

.card-xylo{
  background: url(/SITE-Icone-XYLO2.webp) no-repeat center top;
  background-size: contain;
}

.card-kako{
  background: url(/SITE-Icone-KAKO.webp) no-repeat center top;
  background-size: contain;
}

.satisfactions {
  max-width: 1400px;
  margin: auto;
}

.card-jouet:hover .img-card {
  transform: scale(1.05);
}

.playboard {
  background-image: radial-gradient(circle at center, #f97b99 0%, #e4345e 100%);

}

.tour {
  background-image: radial-gradient(circle at center, #9fd5e5 0%, #00c6ff 100%);
}

.xylophone {
  background-image: radial-gradient(circle at center, #ead843 0%, #ff7e00 100%);
}

.bidule {
  background-image: radial-gradient(circle at center, #6ffd9b 0%, #0aad0c 100%);
}

.bidule2 {
  background-image: radial-gradient(circle at center, #e185f8 0%, #b02ce7 100%);
}

.bidule3 {
  background-image: radial-gradient(circle at center, #6cf8d9 0%, #00b494 100%);
}

.bidule4 {
  background-image: radial-gradient(circle at center, #ffaa7b 1%, #fd4700 100%);
}

.bidule5 {
  background-image: radial-gradient(circle at center, #ffaa7b 1%, #fd4700 100%);
}

.img-tour {
  height: 80%;
}

.head-title {
  color: #E72C59;
  font-family: "Roboto", Sans-serif;
  font-size: 38px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.8em;
  letter-spacing: 2.5px;
  text-align: center;
  z-index: 2;
}

.subheadtitle {
  color: #5A5A5A;
  font-size: 22px;
  font-weight: 400;
  text-transform: none;
  line-height: 1.6em;
  letter-spacing: 2.5px;
}

.headtitle {
  color: #E72C59;
  font-size: 33px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.8em;
  letter-spacing: 2.5px;
}
.baby-photo {
  width: 65%;
  height: 60%;
  position: absolute;
  left: 19%;
  bottom: 22%;
}

.products-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.eveil-button {
  border: none;
  font-size: 20px;
  transition: all .2s ease-in-out;
  fill: #FFFFFF;
  color: #FFFFFF;
  background-color: #E72C59;
  border-radius: 8px 8px 8px 8px;
  padding: 18px 30px 18px 30px;
}

.eveil-button:hover {
  transform: scale(1.2);
}
.eveil {
  width: 100%;
  margin-top: 5%;
  text-align: center;
  position: relative;
  left: 20%;
  max-width: 40%;
}

.emerveillement {
  border-radius: 2px;
  background-color: #00b2cc;
  padding-top: 5%;
  padding-bottom: 5%;
}

.emerveillement-titre {
  font-size: 61px;
  letter-spacing: 3px;
  color: #ffffff;
  font-family: "Roboto";
  text-align: center;
  margin-bottom: 5%;
}
.best-jouets {
  padding: 5%;
}
.emerveillement-button {
  background-color: #E72C59;
  padding: 1% 5%;
  font-size: 20px;
  color: white;
  transition: all .2s ease-in-out;
  margin-left: 7%;
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%)
}
.emerveillement-button:hover {
  transform: scale(1.2);
}

.unique {
  text-align: center;
  padding-bottom: 5%;
}
.unique-title {
  color: #666666;
  font-size: 33px;
  font-weight: 300;
  line-height: 1.6em;
  letter-spacing: 1px;
  text-align: center;
}

.photo-enfants {
  display: flex;
  justify-content: space-around;
  padding: 1% 15%;
}

.photo-enfants img {
  width: 18%;
  opacity: 0.3;
}

.photo-enfants img:hover{
  opacity: 1;
}

.photos-emerveillement {
  display: flex;
  justify-content: space-around;
  padding: 1% 10%;
}

.photos-emerveillement img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 20%);
}

.text-emerveillement {
  margin-right: 2%;
  width: 22%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #F5F5F5;
  text-align: center;
  color: #808285;
}
.jouet-emerveillement {
  background-color: #F5F5F5;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 50px 0px 50px 0px;
}

.fa-dove {
  color: #EC8C23;
  font-size: 50px;
  margin-top: 10%;
  margin-bottom: 10%
}

.fa-drafting-compass {
  color: #27B6CA;
  font-size: 50px;
  margin-top: 10%;
  margin-bottom: 10%
}

.fa-child {
  color: #E62B56;
  font-size: 50px;
  margin-top: 10%;
  margin-bottom: 10%
}

.fa-tree {
  color: #31A73A;
  font-size: 50px;
  margin-top: 10%;
  margin-bottom: 10%
}

.head-title-container {
  margin: 0 auto;
  width: 100%;
  z-index: 2;
}

.description-title {
  color: #5A5A5A;
  font-family: "Roboto", Sans-serif;
  font-size: 22px;
  font-weight: 400;
  text-transform: none;
  line-height: 1.6em;
  letter-spacing: 2.5px;
  text-align: center;
  padding: 1% 25%;
  z-index: 2;
}

.grid-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 25px;
  align-items: center;
}

.image-card {
  width: 100%;
}

.image-card-container {
  background-image: radial-gradient(circle at center, #f97b99 0%, #e4345e 100%);
}


.frere-photo {
  width: 100%;
}


.shop-access {
  width: 336px;
  height: 86px;
  border-radius: 43px;
  background-color: #f13f57;
  position: relative;
  top: 70%;
  margin: 0 auto;

}

.link-shop-container {
  width: 100%;
  height: 67px;
  text-align: center;
  margin: auto;
  padding-top: 3%;
}

.link-shop {
  color: #ffffff;
  font-family: "Roboto";
  letter-spacing: 0px;
  font-size: 39px;
  text-decoration: none!important;
  text-align: center;
}

.best-jouets-title {
  font-size: 82px;
  letter-spacing: 1px;
  color: #e72c59;
  font-family: "Roboto";
  text-align: center;
}

.gif-container {
  align-items: center;
  width: 100%;
  height: 100%;
}

.gif {
  margin-left: 45%;
  margin-top: 20%;
}
.playboard-title1 {
  font-size: 77px;
  letter-spacing: 1px;
  color: #00b2cc;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.playboard-description1 {
  font-size: 17px;
  letter-spacing: 0px;
  color: #0b4b61;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-bottom: 0px!important;
}

.playboard-container {
  width: 70%;
  height: 30%!important;
  padding: 3% 5%!important;
  border-radius: 80px;
  filter: drop-shadow(11.168px 15.371px 9.5px rgba(190,190,190,0.48));
  background-color: #ffffff;
}

.playboard-image-container {
  width: 80%;
  height: 80%;
  margin: 0 auto;
  z-index: 2;
  position: relative;
}

.playboard-image1 {
  width: 100%;
  z-index: 2;
  height: 100%  ;
}

.best-seller-image-container {
  position: absolute;
  left: 75%;
  bottom: 46%;
  z-index: 1;
  width: 20%;
}

.best-seller-image {
  z-index: 1;
  width: 100%;
}

.shop-access2 {
  width: 35%;
  height: 11%;
  left: 32%;
  top: 95%;
  border-radius: 43px;
  background-color: #f13f57;
  margin: 0 auto;
  position: absolute;
}

.other-products-container {
  display: flex;
  max-width: 70%;
  justify-content: space-between;
  margin-top: 5%;
}

.xylophone-title {
  font-size: 60px;
  letter-spacing: 1px;
  color: #f18712;
  font-family: "D KButterfly Ball";
  text-align: center;
}

.xylophone-container {
  width: 49%;
  height: 60%;
  border-radius: 80px;
  filter: drop-shadow(11.168px 15.371px 9.5px rgba(190,190,190,0.48));
  background-color: #ffffff;
  padding-top: 2%;
}

.xylophone-image-container {
  width: 100%;
  margin: 0 auto;
  height: 50%;
}

.xylophone-image {
  width: 100%;
  height: 100%;
}

.shop-access3 {
  width: 60%;
  height: 11%;
  left: 20%;
  top: 95%;
  padding-bottom: 15%;
  border-radius: 43px;
  background-color: #f13f57;
  margin: 0 auto;
  position: absolute;
  align-items: center;
}

.tour-title {
  font-size: 60px;
  letter-spacing: 1px;
  line-height: 80px;
  color: #35a936;
  font-family: "D KButterfly Ball";
  text-align: center;
}

.tour-image-container {
  width: 27%;
  height: 50%!important;
  margin: 0 auto;
  padding-bottom: 10%;
}

.tour-image {
  height: 100%;
  width: 100%;
}

.tour-container {
  width: 49%;
  height: 60%;
  border-radius: 80px;
  filter: drop-shadow(11.168px 15.371px 9.5px rgba(190,190,190,0.48));
  background-color: #ffffff;
  padding-top: 2%;
}

.cookiesBtn{
  display: flex;
}

.cookiesBtn p{
  margin: 3px 10px 0px 10px;
}

.cookiesBtn img{
 width: 30px;
 height: fit-content;
}


@media screen and (min-width: 1500px){
  .baby-photo {
    bottom: 18%;
  }
}

@media screen and (min-width: 1700px){
  .baby-photo {
    bottom: 22%;
  }
}

@media screen and (min-width: 2000px){
  .baby-photo {
    bottom: 24%;
  }
}

@media screen and (min-width: 2300px){
  .baby-photo {
    bottom: 24%;
  }
}


@media screen and (max-width: 1500px){
  .baby-photo {
    bottom: 18%;
  }
  .drapeau-container {
    left: 46%;
  }
  .description-title {
    padding: 1% 20%;
  }
}

@media screen and (max-width: 1435px){
  .baby-photo {
    bottom: 20%;
  }
  .description-title {
    font-size: 20px;
  }
  .tour-title {
    font-size: 50px;
  }
  .xylophone-title {
    font-size: 50px;
  }
  .tour-image-container {
    width: 27%;
  }
  .best-seller-image-container {
    bottom: 43%;
    width: 18%;
  }
}

@media screen and (max-width: 1300px){
  .link-shop {
    font-size: 30px;
  }
}

@media screen and (max-width: 1200px){
  .tour-title {
    font-size: 40px;
  }
  .drapeau-container {
    left: 43%;
  }
  .xylophone-title {
    font-size: 40px;
  }
  .tour-image-container {
    width: 25%;
  }
  .playboard-container {
    width: 100%;
  }
  .other-products-container {
    max-width: 100%;
  }

}

@media screen and (max-width: 1050px){
  .nav-bar {
    padding-right: 0%;
    padding-left: 8%;
  }
  .head-title {
    font-size: 50px;
  }
  .drapeau-container {
    left: 45%;
  }
  .row-card-home-special {
    width: 90%;
  }
  .shop-access {
    top: 60%;
  }
  .description-title {
    font-size: 16px;
  }
  .tour-title {
    font-size: 35px;
  }
  .xylophone-title {
    font-size: 35px;
  }
  .link-shop {
    font-size: 20px;
  }
  .card-jouet-title {
    font-size: 20px;
  }
}

@media screen and (max-width: 900px){
  .products-container {
    padding: 0!important;
  }
  .head-title {
    font-size: 45px;
  }
  .best-jouets-title {
    font-size: 60px ;
  }
  .playboard-title1 {
    font-size: 60px;
  }
  .description-title {
    padding: 1% 10%;
  }
  .satisfactions {
    flex-direction: column;
  }
}

@media screen and (max-width: 769px) {
  .drapeau-container {
    left: 44%;
  }
  .img-container {
    margin-top: 4%;
  }
  .head-title {
    font-size: 40px;
  }
  .nav-bar {
    padding-right: 0%;
    padding-left: 10%
  }
  .account-shopping {
    width: 20%;
  }
}

@media screen and (max-width: 680px){
  .row-card-home {
    flex-direction: column;
    justify-content: space-around;
  }

  .head-title {
    font-size: 35px;
  }
  nav {
    position: sticky;
  }
  .bidule4 {
    height: 70%!important;
  }

  .row-card-home-special {
    flex-direction: column;
    justify-content: space-around;
  }

  .card-jouet-title {
    font-size: 26px;
  }
  .card-jouet {
    width: 100%;
  }
}

@media screen and (max-width: 600px){

  .card-jouet {
    width: 100%;
  }
  .description-title {
    padding : 0
  }
}


@media screen and (max-width: 525px){
  .card-jouet-title {
    font-size: 20px;
  }
}

@media screen and (max-width: 426px){
  .head-title {
    font-size: 30px;
  }
}
@media screen and (max-width: 400px){

  .card-jouet {
    width: 100%;
  }
  .description-title {
    font-size: 20px;
  }
}

@media screen and (max-width: 375px){

  .card-jouet-title {
    font-size: 15px;
  }
  .head-title {
    font-size: 27px;
  }
  .card-jouet {
    width: 100%;
  }
  .description-title {
    font-size: 20px;
  }
}

