.mentionsContainer {
  background-color: #F5F5F5;
  padding: 3% 15%;
}

.mentionsTitle {
  text-align: center;
}

.containerMentions h5 {
  text-align: left;
  color: black;
}
.containerMentions {
  padding: 2% 15%;
  color: #7A7A7A;
}

#sitelink {
  color: #6EC1E4!important;
  font-size: 1rem;
}
