.remerciementContainer{
  margin-bottom: 50px;
}

.imgRemerciement {
  width: 100%;
  opacity: 0.4;
}

.imgRemerciementContainer {
  max-width: 100%;
  padding: 100px 0px;
  z-index: -1;
  overflow: hidden;
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 10%);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  position: relative;
  background-color: lightgray;
  background-image: url("/remerciement.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.merci-bg-overlay{
  height: 100%;
  width: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  position: absolute;
  background-color: #F9F9F9;
  opacity: 0.65;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.remerciementParagraph {
  align-items: center;
}

.remerciementParagraph p{
  text-align: center;
  color: #E72C59;
  font-size: 2.7em;
  font-weight: 400;
}

.imgLogoContainer img {
  width: 100%;
}

.imgLogoContainer {
  width: 70%;
  max-width: 350px;
  margin: 0 auto;
}

.white{
  height: 500px;
}

.commandeRecap {
  margin-top: 5%;
}
.commandeRecueContainer {
  width: 90%;
  max-width: 1200px;
  padding: 20px 40px;
  margin: -100px auto 0px auto;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 10%);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.tdInner {
  border-right: 1px solid black;
}

.textLeft {
  text-align: left;
}

.adresseContainer {
  display: flex;
  justify-content: space-between;
}

.adresseFacturation {
  width: 40%;
}

.adresseLivraison  {
  width: 40%;
}

.white {
  height: 1000px;
}
